SUBSYSTEM=="net", ACTION=="add", ATTR{address}=="80:fa:5b:21:e5:56", NAME="net0"
#SUBSYSTEM=="net", ACTION=="add", ATTR{address}=="5c:e0:c5:84:e9:23", NAME="wifi0"

